
body{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.Frame101390{
    width: 1280px;
    height: 1024px;
    top: -423px;
    left: -1123px;
    padding: 15px 0px 0px 19px;
    gap: 0px;
    opacity: 0px; 

}
.desktop-4{
    transform: translate(50%,50%,50%);
    width: 1280px;
    height: 1015px;
    top: 15px;
    left: 19px;
    gap: 0px;
    background: rgba(255, 255, 255, 1);    
}

.group1{
Width: 569px;
Height: 588.17px;
top: 451px;
gap: 0px;

position: absolute;

}
.group101395{
width: 572.71px;
height: 592px;
gap: 0px;
position: absolute;
margin-left: 710px;

}
.group{
width: 79.17px;
height: 79px;
top: 841px;
position: absolute;
margin-left: 1000px;
}
.Frame101393{
display: flex;
/* width: 1024px; */
height:700px;
top: 158px;
padding: 0px 120px 0px 0px;
gap: 120px;
border-radius: 25px ;
border: 3px solid rgb(243, 240, 240);
background: rgba(255, 255, 255, 1);

position: absolute;
z-index: 1;
}
.maskgroup{
width: 506px;
height: 700px;
}
.Frame101392{
width: 278px;
height: 336px;
transform: translate(20%, 50%);
}
.Frame101391{
display: flex;
width: 278px;
height: 38px;
}
.Frame101383{ 
width: 139px;
height: 38px;
padding: 8px 0px 0px 0px;
gap: 0px;
border: 0px 0px 2px 0px;
opacity: 0px;
border-bottom: 2px solid rgba(17, 105, 142, 1)
}
.Frame101383 p{
margin-left: 40%;
width: 38px;
height: 22px;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-weight: 500;
line-height: 22px;
color: rgba(0, 0, 0, 1);
font-weight: bold;
}
.Frame101384{
width: Fixed (139px)px;
height: Hug (38px)px;
padding: 8px;
border: 0px 0px 1px 0px;
}
.Frame101384 p{
Width: 56px;
Height: 22px;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-weight: 500;
line-height: 22px;
color:rgba(0, 0, 0, 1) ;
margin-left: 50%;
font-weight: bold;
}
.Frame101388{
width: 278px;
height: 258px;
gap: 24px;
margin-top: 50px;
}
.Frame101387{
width: 278px;
height: 196px;
gap: 18px;
}
.Frame101385{
width: 278px;
height: 156px;
gap: 20px;
}
.Frame101381{
width: 278px;
height: 68px;
}
.Frame101382{
width: 278px;
height: 68px;
margin-top: 15px;
}
.checkbox{
width: 103ppx;
height: 22px;
gap: 8px;
margin-top: 10px;
}
